body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "montserrat";
    /*background-color: white;*/
    overflow: hidden;
}


/* App.css */
.app-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.setting-pan-wrapper {
  position: absolute;
  top: 100px;
  left: 20px;
  z-index: 100;
  overflow-y: auto;
  overflow-x: hidden;
  transition: max-height 0.2s ease-out;
}

/* Scrollbar pour SettingPan si nécessaire */
.setting-pan-wrapper::-webkit-scrollbar {
  width: 6px;
}

.setting-pan-wrapper::-webkit-scrollbar-track {
  background: transparent;
}

.setting-pan-wrapper::-webkit-scrollbar-thumb {
  background: #899785;
  border-radius: 3px;
}